.scrollable {
  flex: 1;
  overflow: auto;
}

.messagesList {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  max-width: 688px;
  margin-top: var(--spacing-8);
  width: 100%;
}

.inputMessage {
  margin: 0 auto;
  max-width: 688px;
  width: 100%;
}
