.newChat__modelSelect {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.newChat__inputMessage {
  max-width: 688px;
  width: 100%;
  margin: 0 auto;
}
