.TextArea {
  display: block;
  width: 100%;
  resize: none;
  padding: 10px;
  border-radius: var(--radius-2);
  border: 1px solid #ccc;

  font-size: var(--font-size-regular);
  font-family: var(--default-font-family);
  font-weight: var(--font-weight-regular);

  &:where(:focus-within) {
    outline: 2px solid var(--focus-8);
    outline-offset: -1px;
  }
}
