@media only screen and (min-width: 768px) {
    .Root {
        --root-flex-direction: row;
    }

    .Header {
        --header-display: none;


    }

    .Aside {
        --sidebar-display: block;
        --sidebar-height: auto;
        --sidebar-padding: var(--space-3);
        --sidebar-position: static;
        --sidebar-width: 300px;
    }
}

.Root {
    display: flex;
    flex-direction: var(--root-flex-direction, column);
    height: 100vh;
}

.Header {
    background-color: var(--color-panel-translucent);
    display: var(--header-display, block);
    padding: var(--space-2) var(--space-2);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.Aside {
    background-color: var(--color-background);
    border-inline-end: 1px solid var(--accent-6);
    display: var(--sidebar-display, none);
    height: var(--sidebar-height, 100vh);
    min-width: 300px;
    padding: var(--sidebar-padding, var(--space-8)) var(--space-3);
    position: var(--sidebar-position, fixed);
    width: var(--sidebar-width, 100vw);
    z-index: 1;
}

.AsideOpen {
    --sidebar-display: block;
}

.Main {
    display: flex;
    flex-grow: 1;
    height: 100%;
    width: 100%;
}