@media only screen and (min-width: 768px) {
  .Header {
    --header-margin-left: 300px;
    --header-width: calc(100vw - 300px);
    --header-justify-content: center;
  }
}

.Header {
  align-items: center;
  background-color: var(--color-panel-translucent);
  display: flex;
  justify-content: var(--header-justify-content, space-between);
  margin-left: var(--header-margin-left, 0);
  padding: var(--space-2) var(--space-2);
  position: absolute;
  top: 0;
  width: var(--header-width, 100%);
  z-index: 1;
}
